$font-petrona: "Petrona", cursive;
$font-sans: "Source Sans Pro", cursive;
$font-varela: "Varela Round", cursive;
$font-one: "Hammersmith One", cursive;
$color-primary: #003859;
$color-second: #00A5C4;
$color-green: #32CD32;	